


color: #BDBDBD (grey)

color: #81BEF7 (blue)

<link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>


font-family: 'Butcherman', cursive; (h1)

<link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>

font-family: 'Stint Ultra Expanded', cursive; (body)
